html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $color-text;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font-family: "Quicksand-Regular";
  font-size: 16px;
  line-height: 30px;
  color: $color-text;
}
.container{
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}