html {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
}

a {
    cursor: pointer;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    display: inline-block;
    text-decoration: none;
    color: $color-text;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: "Quicksand-Regular";
    font-size: 16px;
    line-height: 30px;
    color: $color-text;
    overflow-X: hidden;
}



.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.product-box {
    width: 100%;
    .feature {
        padding: 120px 0;
    }
    .slider__nav {
        background-color: #fff;
        padding: 0 30px;
        height: 115px;
        border-radius: 4px;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        position: relative;
        margin-bottom: 50px;
        .title {
            font-size: 30px;
            line-height: 40px;
        }
    }
}

a.main-button:hover,
a.main-button active {
    background-color: #fff;
    color: $blue;
    transition: all 0.5s;
}

.main-button {
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
}

.blue-button {
    background-color: $blue;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
}
.blue-button:hover{
    transition: all 0.5s;
    background-color: #fff;
    color: $blue;
}
.violet-button {
    background-color: $violet;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
}

.violet-button:hover{
    transition: all 0.5s;
    color: $violet;
    background-color: #fff;
}




//text color
.blue{
    color: $blue;
}

.violet{
    color: $violet;
}

.light-blue{
    color: #58c9e9;
}

// end text color
.button-wrapper {
    text-align: center;
    padding: 30px 10px 0 10px;
}

.featured-product-slider {
    position: relative;
}

button.slick-arrow {
    position: absolute;
    top: -116px;
    background: none;
    background-repeat: no-repeat;
    border: none;
    width: 8px;
    height: 16px;
    font-size: 0;
}

button.slick-prev {
    right: 99px;
    background-image: url(../images/1-item-slider/arrow-left.png);
}

button.slick-next {
    right: 51px;
    background-image: url(../images/1-item-slider/arrow-right.png);
}

#rateyo {
    stroke: #ffc000;
    stroke-width: 30;
}
.medium{
    @include f500;
}
.bold {
    @include f700;
}

.breadcrumbs {
    &__inner {
        a,
        span {
            color: #fff;
        }
        ul {
            font-size: 15px;
            line-height: 15px;
        }
    }
    &__list {
        li {
            display: inline-block;
            position: relative;
            @include f700;
            &:last-child {
                font-weight: 400;
            }
            &+li {
                padding-left: 20px;
                &::before {
                    content: "/";
                    @include f700;
                    position: absolute;
                    left: 6px;
                }
            }
        }
    }
    &__center {
        .breadcrumbs__list {
            padding-bottom: 35px;
        }
    }
    &__left{
        .breadcrumbs__list{
            text-align: left;
            padding-top: 60px;
            padding-bottom: 35px;
        }
    }
}