@font-face {
    font-family: "Quicksand-Regular";
    src: url("../fonts/Quicksand-Regular.woff2 ") format("woff2"), 
        url("../fonts/Quicksand-Regular.woff") format("woff"),
        url("../fonts/Quicksand-Regular.ttf") format("ttf");
        font-weight: 400;
        font-display: swap;
}
